body {
  background-color: #efefef;
}

.menu {
  display: flex;
  justify-content: space-around;
}

@media all and (max-width: 800px) {
  ul {
    width: 20px;
    height: 20px;
  }
}

.titre {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: rgb(26, 194, 26);
}

.titre2 {
  text-decoration: none;
}

@media all and (max-width: 1000px) {
  .titre {
    font-size: 25px;
    margin-top: 40px;
  }
}

.logo {
  width: 200px;
  height: 90px;
  margin-top: 20px;
}

.titrelogo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border-bottom: solid 2px #a2a2a2;
}

.accroche {
  font-size: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.inscription {
  border-radius: 20px;
  border: none;
  background-color: rgb(124 212 129);
  margin-right: 20px;
  width: 100px;
  height: 50px;
  margin-top: 20px;
  text-decoration: none;
}

.connexion {
  border-radius: 20px;
  border: none;
  background-color: rgb(124 212 129);
  width: 100px;
  height: 50px;
  margin-top: 20px;
  text-decoration: none;
}

.admin {
  border-radius: 20px;
  border: none;
  background-color: rgb(124 212 129);
  width: 100px;
  height: 50px;
  margin-top: 20px;
  text-decoration: none;
  margin-left: 20px;
}

.retour {
  border-radius: 20px;
  border: none;
  background-color: rgb(124 212 129);
  width: 100px;
  height: 50px;
  margin-top: 20px;
  text-decoration: none;
  margin-left: 20px;
}

.maison {
  width: 300px;
  height: 213px;
}

.carte {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 320px; */
  border: 2px solid;
  margin-top: 50px;
  /* margin-left: 50px; */
  background-color: rgb(149 245 155);
}

.touteslescartes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.carte p {
  padding: 10px;
}

.logomaison {
  width: 50px;
  padding: 35px;
  vertical-align: middle;
}

.inscription2 {
  background-color: rgb(95, 197, 95);
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

.pseudo {
  background-color: rgb(102, 211, 120);
}

table {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.bouton {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: rgb(102, 211, 120);
  font-size: 20px;
  border-radius: 20px;
  border-color: white;
}

input {
  font-size: 20px;
}

.form {
  text-align: center;
}

.formulaire {
  display: flex;
  justify-content: center;
  margin-left: 100px;
}

@media all and (max-width: 400px) {
  .formulaire input {
    font-size: 13px;
  }
}

@media all and (max-width: 400px) {
  .formulaire input {
    font-size: 13px;
  }
}

.boutonajouter {
  background-color: rgb(124 212 129);
  font-size: 20px;
  border-radius: 20px;
  border-color: white;
  margin-left: 70px;
}

.select {
  font-size: 20px;
}

@media all and (max-width: 400px) {
  .select {
    font-size: 13px;
  }
}

.carte2 {
  margin: 20px;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(102, 211, 120);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  background-color: rgb(102, 211, 120);
  color: beige;
  width: 125px;
  line-height: 125px;
  text-align: center;
  margin: 10px;
  display: none;
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  margin-bottom: 20px;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
} */

.recherche {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;
}

input {
  text-align: center;
}

a.inscription {
  text-decoration: none;
  width: auto;
  height: auto;
  padding: 1px 6px 1px 6px;
}

.carte div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media all and (max-width: 1000px) {
  table {
    padding: 100px;
  }
}

/* #navbar {
  background-color: rgb(102, 211, 120);
  position: fixed;
  display: flex;
  flex-direction: row;
  top: -56px;
  width: 100%;
  transition: top 0.8s;
}
#navbar a {
  color: white;
  padding: 16px;
  text-decoration: none;
}
#navbar a:hover {
  background-color: lightgrey;
  color: black;
} */

a {
  text-decoration: none;
  color: #575757;
  cursor: pointer;
}

a:visited,
a:link {
  color: #575757;
}

.pagination {
  text-align: center;
  font-size: 20px;
  padding: 30px;
}
